<div class="comment">
  <%= image_tag "comment_open.png", class: "comment_open" if comment.unread?(current_user) == true %>
  <div class="img">
    <%= image_tag avatar_url(comment.user) %>
  </div>
  <div class="body">
    <h3>Review by: <%= comment.user.name %></h3>
    <span><%= comment.created_at.strftime("%B %e, %Y ") %></span>
    <p><%= markdown comment.body %></p>

    <% if comment.documents.present? %>
      <div class="files" >
        <h4>Attachments: </h4><br>
        <ul>
          <% comment.documents.each do |d| %> 
            <li>  
              <%= link_to d.document_identifier, d.document_url, target: "_blank", class: "icon " + d.icon_extension %>
            </li>
        <% end %>
        </ul>
      </div>
    <% end %>

  </div>
</div>