<div id="msg_comment" class="alert"></div>
<div class="img">
  <%= image_tag avatar_url(current_user) %>
</div>
<div class="form">
  <%= form_for([@ticket, @ticket.comments.build], remote: true, :html => { :multipart => true }) do |f| %>

    <div class="field">
      <%= f.text_area :body, :size => "0", :placeholder => "Add a comment" %>
    </div>
    
    <%= link_to_add_input_fields "Add Files", f, :documents %>
    
    <div class="form-actions">
      <%= f.submit 'Add Comment', :class => 'btn btn-primary' %>
      <div class="loader"><%= image_tag "ajax-loader.gif" %></div>
    </div>
    
  <% end %>
</div>