<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello,</p>
    <p><%= @comment.user.name %> has commented on the ticket: <%= @comment.ticket.subject %></p>
    <p><%= @comment.body %></p>
    <p><%= @url_ticket %></p>

    <br>
    <p>This message sent from Koombea Support.</p>
    <p>Koombea Support: <%= @url %></p>
  </body> 
</html>