<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello, Support team</p>
    <p>New ticket has been created</p>   
    <p>Client: <%= @ticket.user.name %></p>
    <p>Subject: "<%= @ticket.subject %>"</p>
    <p>Type: "<%= @ticket.ticket_type.capitalize %>"</p>
    <p>Description: <%= @ticket.description %></p>
    <p><%= @url_ticket %></p>

    <br>
    <p>This message sent from Koombea Support.</p>
    <p>Koombea Support: <%= @url %></p>
  </body> 
</html>