<div class="ticket">
  <div class="date">
    <span class="month"><%= ticket.created_at.strftime(" %b ") %></span>
    <span class="day"><%= ticket.created_at.strftime(" %d ") %></span>
  </div>
  <div class="item">
    <h2><%= link_to ticket.subject, edit_ticket_path(ticket) %></h2>
    <p>
      <strong>Client: </strong><%= ticket.user.email %>
      <br>
      <% if ticket.assigned_to.present? %>
        <strong>Assigned to: </strong><%= ticket.assigned_to.email %>
      <% else %>
        <strong>There has been assigned</strong>
      <% end %>
    </p>
    <div class="status">
      <% case ticket.status
          when "approved" %>
            <i class="icon-ok-circle"> <%= ticket.status.capitalize%></i>
        <% when "process" %>
            <i class="icon-cog"> <%= ticket.status.capitalize%></i>
        <% when "ended" %>
            <i class="icon-remove-sign"> <%= ticket.status.capitalize%></i>
        <% when "pending" %>
            <i class="icon-time"> <%= ticket.status.capitalize%></i> 
      <% end %>
    </div>
    <p><%= markdown ticket.description.gsub(/<\/?[^>]*>/, "").truncate(300, :omission => ' ...') %></p>
    
  </div>
  <div class="clear"></div>
</div>