<div class="ticket">
  <div class="date">
    <span class="month"><%= ticket.created_at.strftime(" %b ") %></span>
    <span class="day"><%= ticket.created_at.strftime(" %d ") %></span>
  </div>
  <div class="item">
    <h2><%= link_to ticket.subject, edit_ticket_path(ticket) %></h2>
    <% unless ticket.comments.unread_by(current_user).count == 0 %>
      <div class="count-comments">
        <%= image_tag "comments.png", width: '32' %>
      </div>
    <% end %>
    <p>
      <strong>Client: </strong><%= ticket.user.name %>
      <br>
      <% if ticket.assigned_to.present? %>
        <strong>Assigned to: </strong><%= ticket.assigned_to.name %>
      <% else %>
        <strong>It hasn't been assigned</strong>
      <% end %>
    </p>

    <div class="status">
      <% case ticket.status
          when "approved" %>
            <i class="icon-ok-circle"> Approved </i>
        <% when "in_process" %>
            <i class="icon-cog"> In process</i>
        <% when "ended" %>
            <i class="icon-remove-sign"> Ended </i>
        <% when "pending" %>
            <i class="icon-time"> Pending </i> 
        <% when "rejected" %>
            <i class="icon-remove-circle"> Rejected </i> 
      <% end %>
    </div>
    <p><%= markdown ticket.description.gsub(/<\/?[^>]*>/, "").truncate(300, :omission => ' ...') %></p>
    
  </div>
  <div class="clear"></div>
</div>