<div class="ticket">
  <div class="date">
    <span class="month"><%= @ticket.created_at.strftime("%b") %></span>
    <span class="day"><%= @ticket.created_at.strftime("%d") %></span>
  </div>
  <div class="item">
    <% unless @count_comments == 0 %>
      <div class="alert-info alert-count-comments">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Info! </strong>You have <%= pluralize(@count_comments, "unread comment") %> <%= link_to '"Click here to mark them as read"', {controller: "comments", action: "mark_read_comments", ticket_id: @ticket}, remote: true, class: "scrollTo" %>
      </div>
    <% end %>
    <%= render 'form' %>
    
    <div class="clear"></div>
  </div>

  <div id="comments">
    <%= render @comments %>
  </div>

  <div class="add-comment">
    <%= render "comments/form" %>
  </div>

</div>
<%= link_to 'Back', tickets_path, :class => "btn" %>