<div class="filters">
  <i><%= link_to 'All', root_path, :class => "btn-link", :remote => true %></i>
  <i class="icon-ok-circle"><%= link_to 'Approved', tickets_path(:status => "approved"), :class => "btn-link", :remote => true %></i>
  <i class="icon-cog"><%= link_to 'In Process', tickets_path(:status => "in_process"), :class => "btn-link", :remote => true %></i>
  <i class="icon-remove-sign"><%= link_to 'Ended', tickets_path(:status => "ended"), :class => "btn-link", :remote => true %></i>
  <i class="icon-time"><%= link_to 'Pending', tickets_path(:status => "pending"), :class => "btn-link", :remote => true %></i>
  <i class="icon-remove-circle"><%= link_to 'Rejected', tickets_path(:status => "rejected"), :class => "btn-link", :remote => true %></i>
  <%= link_to 'New Ticket', new_ticket_path, :class => "btn btn-primary" %>
</div>
<div id="tickets">
  <%= render @tickets %>
</div>
<%= will_paginate @tickets %>
