<div id="login">
  <div class="team">
    <h2>Welcome to Ksupport!</h2>
    <p>To enter as a team member.</p>
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Login", omniauth_authorize_path(resource_name, provider), class: "btn btn-primary btn-large" %><br />
      <% end -%>
    <% end -%>
  </div>

  <div class="client">
    <h2>Clients</h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :email %>
      <%= f.email_field :email, :class => "input-xlarge" %></div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password, :class => "input-xlarge" %>
      </div>
      
      <%= render "devise/shared/links" %>

      <div class="form-actions">
        <%= f.submit "Sigin", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>