<!DOCTYPE html>
<html>
<head>
  <title>Ksupport</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.scrollTo-1.4.3.1-min" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top">
  <div class="container">
    <div class="left">
      <%= link_to image_tag('logo.png'), tickets_path %>
    </div>
    <div class="right">
      <% if user_signed_in? %>
        <div class="btn-group pull-right">
          <a class="btn dropdown-toggle" data-toggle="dropdown">
            Hi, <%= image_tag avatar_url(current_user), :class => "avatar" %> <span class="username"><%= current_user.name %>.</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if current_user.role == "client" %>
              <li><%= link_to "Edit my profile", edit_user_registration_path %></li>
            <% end %>
            <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Log in", new_user_session_path, :class => "btn btn-primary"  %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">

  <% if notice.present? %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="alert alert-block">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= alert %>
    </div>
  <% end %>

  <% if flash[:error].present? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= yield %>

</div>

<div class="bottom">
  <div class="container">
    © 2007-<%= Time.now.year %> Koombea, Inc. All Rights Reserved.
  </div>
</div>
</body>
</html>
