<!DOCTYPE html>
<html>
<head>
  <title>Support Koombea</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top">
  <div class="container">
    <div class="left">
      <%= link_to image_tag('logo.png'), tickets_path %>
    </div>
    <div class="right">
      <% if user_signed_in? %>
        <div class="btn-group pull-right">
          <a class="btn dropdown-toggle" data-toggle="dropdown">
            Hi, <span class="username"><%= current_user.email %>.</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Login", new_user_session_path, :class => "btn btn-primary"  %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">

  <% if notice.present? %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="alert alert-block">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= alert %>
    </div>
  <% end %>

  <% if flash[:error].present? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= yield %>

</div>
<!--
<div class="bottom">
  <div class="container">
    © 2007-2012 Koombea, Inc. All Rights Reserved.
  </div>
</div>
-->
</body>
</html>
